<% layout('layout') %>

<div class="container">
   <h1>Profile</h1>
   <div class="row body">
      <div class="col-sm-6 col-md-4">
         <img src="<%= user.profile.picture %>" alt=""/>

         <br/>
         <p>Name: <%= user.profile.name %></p>
         <p>Email: <%= user.email %></p>

         <% if(user.address === '' || typeof user.address ==='undefined') { %>
            <p>Address: <span class="empty-address"> You have no address</span></p>
         <% } else { %>
            <p>Address: <%= user.address %></p>
         <% } %>
         <a href="/edit-profile" class="btn btn-primary">Edit profile</a>
      </div>
      <div class="col-md-8">
         <h2 class="text-center"> History</h2>

         <table class="table table-striped sticky-header">
            <thead>
            <th> Item's name</th>
            <th> Paid</th>
            <th> Quantity</th>
            <th> Date</th>
            </thead>
            <tbody>
               <% for ( var i=0; i < user.history.length; i++) {%>
                  <tr>
                     <td> <%= user.history[i].item.name %></td>
                     <td> <%= user.history[i].price %></td>
                     <td> <%= user.history[i].quantity %></td>
                     <td> <%= user.history[i].date %></td>
                  </tr>
               <% }%>
            </tbody>
         </table>
      </div>
   </div>
</div>